# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Python Virtual Environments
.venv/
venv/
ENV/
env/

# Environment Variables
.env
.env.local
*.env

# Next.js & Node
node_modules/
.next/
out/
build/
dist/

# Logs & OS
*.log
.DS_Store
Thumbs.db
